.container {
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .reserve-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
  }
  
  .inputs-div {
    display: flex;
    flex-direction: column;
  }
  
  .inputs-div input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .inputs-div input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .inputs-div input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .message {
    margin-top: 10px;
    color: red;
  }

  button{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  button:hover{
    background:#fff;
    color:#1AAB8A;
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }

  .msg {
    color: white;
    font-family: sans-serif;
  }
  